/* css General */
@import'variables';

nav {
    background: linear-gradient(to bottom, $azul 60%, $azulClaro);

    ul {
        margin: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
            margin: 30px;

            a {
                border: 5px double $celeste;
                border-radius: 30px;
                padding: 7px !important;
            }
        }
    }
}

.select {
    color: $azul;
    background-color: $azulClaro;
}

h1 {
    grid-area: titulo;
    color: $azul;
    background-color: $azulClaro;
    padding: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

main {
    grid-area: main;
    background-color: #C7F9CC;
    border: 5px solid $azul;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: footer;
    font-size: 11px;
    background: linear-gradient(to top, $azul 50%, #C7F9CC);
    padding-top: 10px;
    border: 5px solid $azul;
    border-top: none;
    color: $azulClaro;
    display: flex;
    justify-content: center;

    p {
        margin-bottom: 0;
    }
}

/* CSS HOME */
main .info {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        text-align: center;
    }
}

main .productoDes {
    border: 5px solid $azul;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
    }

    img {
        border: 5px solid $azul;
        border-radius: 30px;
        margin: 10px;
        width: 40%;
        height: auto;
    }
}


/* CSS EMPRESA */
main .nosotros {
    display: flex;
    flex-direction: column;
    padding: 10px;

    img {
        width: 100%;
        border: 5px solid black;
        height: auto;
    }

    p {
        text-align: center;
        margin: 5px;
    }
}

/* CSS CLIENTES */

main .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;

    img {
        width: 80%;
        border: 5px solid $azul;
        border-radius: 50px;
    }
}

/* CSS CONTACTO */

form {
    font-size: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 9px;

    input {
        border: 3px solid $azul;
        border-radius: 20px;
        background-color: $azulClaro;
        text-align: center;
    }

    textarea {
        background-color: $azulClaro;
        border: 3px solid $azul;
        border-radius: 20px;
        text-align: center;
    }
}

.enviar {
    padding: 5px;
}

.ubicacion {
    text-align: center;
}

.data {
    text-align: center;
    margin: 5px;
}

/* CSS PRODUCTOS */
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.producto {
    background: radial-gradient($celeste, $azul);
    border-radius: 50px;
    width: 80%;
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        width: 100%;
        border-radius: 50px 50px 0 0;
    }

    button {
        border: none;
        width: 50%;
        border-radius: 30px;
        background-color: $celeste;
    }
}


/* MEDIA QUERYS */
@import'querys';